@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {    
  font-family: 'Montserrat Alternates', sans-serif;
}

.container {
    width: 100%;
    max-width: 850px;
    min-height: 550px;
    display: flex;
    align-items: center;
    background-color: #FFFAF5;
    border-radius: 28px;
    padding: 15px;
    /* gap: 80px; */
    gap: 5%;
    flex-direction: row;
    margin: 0 auto;
}

.login_image {
    /* width: 400px; */
    width: 45%;
    min-height: 500px;
    background-color: #FDAF39;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
    max-width: 400px;
}



/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        height: auto;
    }

    .login_image {
        width: 80%;
        min-height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 15px;
        border-radius: 15px;
    }

    .login_image {
        width: 90%;
        min-height: 200px;
    }
}
